useDynLib("movMF", .registration = TRUE, .fixes = "C_")

importFrom("slam", "row_norms")
importFrom("stats", "rbinom", "rmultinom", "rnorm", "runif", "uniroot")

export("movMF", "dmovMF", "rmovMF")

S3method("coef", "movMF")
S3method("logLik", "movMF")
S3method("predict", "movMF")
S3method("print", "movMF")

S3method("print", "rmovMF")

export("FLXMCvMF")

